<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Board</title>
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <link rel="stylesheet" href="/css/game.css">
  <link rel="stylesheet" href="/css/card.css">
  <script src="/scripts/chat.js" defer></script>
  <script src="/scripts/games.js" defer></script>
</head>

<body>

  <nav>
    <a href="/lobby">
      <button class="menu-button">lobby</button>
    </a>
    <a href="/rules"> <!--get href to work maybe use action?-->
      <button class="rules-button">Rules</button>
    </a>
    <a href="/auth/logout"> <!--get href to work maybe use action?-->
      <button class="logout-button">Logout</button>
    </a>
  </nav>

  <div id="game-board">
    <!--update css for the button-->
    <form action="/games/<%= gameId %>/test" method="post" id="test-form">
      <button type="submit">Test</button>
    </form>

    <form action="/games/<%= gameId %>/check" method="post" id="check-form">
      <button type="submit">check</button>
    </form>

    <form action="/games/<%= gameId %>/raise" method="post" id="raise-form">
      <button type="submit">raise</button>
      <input type="text" name="raise" id="raise" placeholder="Raise" pattern="\d+" title="Raise" maxlength="5" style="width: 50px;" required>
    </form>

    <form action="/games/<%= gameId %>/fold" method="post" id="fold-form">
      <button type="submit">Fold</button>
    </form>

    <p id="game-phase"> CURRENT GAME PHASE: Initialize</p>
    <div id="deck">
      <!--deck content goes here-->
      
    </div>

    <div id="community-cards">
      <!-- <div class="community-card1"></div>
      <div class="community-card2"></div>
      <div class="community-card3"></div>
      <div class="community-card4"></div>
      <div class="community-card5"></div> -->
    </div>

    <section id="players_cards">

      <div id="players"> <!--still need to include chips-->
        <div class="player-one-hand" id="player1">
        </div>

        <div class="player-two-hand" id="player2">
        </div>
        <div class="player-three-hand" id="player3">
        </div>
        <div class="player-four-hand" id="player4">
        </div>
        <div class="player-five-hand" id="player5">
        </div>

        <div class="dealer" id="dealer">Dealer</div>
      </div>




    </section>

  </div>

  <input type="hidden" name="game-socket-id" id="game-socket-id" value="<%= gameSocketId %>" />
  <input type="hidden" name="user-socket-id" id="user-socket-id" value="<%= userSocketId %>" />

  <%- include('partials/chat', { roomId: gameId }) %> <!-- this room ID is linked to the gameID -->


    <template id="card">
      <div class="card">
        <img id="idToTarget" src="" />
        <p></p>
      </div>
    </template>

    <script>
      //either create a separate game.js that
      //will contain whole logic or do it here
      //do logic for handeling player's actions,
      //card dealing, betting, scoring,
      //tracking used cards, etc
    </script>

</body>

</html>