<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting Lobby</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/css/lobby.css">
    <script src="/scripts/chat.js" defer></script>
    <script src="/scripts/lobby.js" defer></script>
</head>

<body>
    <nav>
        <form action="/create_game" method="get" id="create-game">
            <button type="submit">Create Game</button>
        </form>
        <a href="/rules">
            <button class="rules-button">Rules</button>
        </a>
        <h1>Lobby</h1>
        <a href="/auth/logout">
            <button class="logout-button">Logout</button>
        </a>
    </nav>

    <main class="main-container">
        <div class="outer-container">
            <div class="inner-welcome">
                <h2>WELCOME ID: <%= user.id %> USERNAME: <%= user.username %>
                </h2>
            </div>
            
            <div class="inner-grid">
                <h2>Returning Games</h2>
                <section id="game-list">
                    <ul>
                        <% returningGames.forEach(game => { %>
                            <li>
                                <a href="/games/<%= game.game_id %>/join">Return to Game: <%= game.game_id %></a>
                            </li>
                            <% }) %>
                    </ul>
                </section>

                <h2>Available Games</h2>
                <section id="game-list">
                    <ul>
                        <% availableGames.forEach(game => { %>
                            <li>
                                <a href="/games/<%= game.id %>/join">Join Game: <%= game.id %></a>
                            </li>
                            <% }) %>
                    </ul>
                </section>

                <template id="join-game-entry">
                    <li>
                        <a href=""></a>
                    </li>
                </template>

                <!-- <form action="/games/create" method="get">
                    <button type="submit">Create Game</button>
                </form> -->
            </div>
            <div class="sidebar">
                <p> List of Players: </p>
                <br>
                <br>
                <% activePlayers.forEach(players => { %>
                    <li>
                        Player: <%= players.username %>
                    </li>
                    <% }) %>
            </div>
        </div>

        <%- include('partials/chat', { roomId:0 }) %>
    </main>
</body>

</html>